.primary-title{
    font-family: 'Semi';
    margin-right: 5px;
    color: #000;;
}
.secondary-title{
    color: #636366;
}
.page-header{
    height: 52px;
    font-size: 21px;
    border-bottom: 1px solid #00000029;
}